@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

:root {
    --primary-color: #172815;
    --secondary-color: #DFFDFF;
    --accent1-color: #D5E1A3;
    --accent2-color: #E2F89C;

    --heading-font: 
}

/* .hero img {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    float: right;
} */

.hero p {
    position: absolute;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
}

main {
    border: #172815;
    max-width: 900px;
    text-align: center;
    margin: 1em;
    color: white;
}

div {
    max-width: fit-content;
    max-height: fit-content;
    background: transparent;
}

section img {
    width: 50rem;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    grid-gap: 30px;
    border-bottom: 2px solid slateblue;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: right;
}

.adventure {
    grid-column-end: auto;
    /* display: inline-block; */
    size: 1fr 1fr 1fr 1fr 1fr;
}
