@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
    --primary-color: #2e4756;
    --secondary-color: #34D1BF;
    --accent1-color: #B88C9E;
    --accent2-color: #F3C98B;

    --paragraph-font: "Play", sans-serif;
    --heading-font:  "Mogra", cursive;
}

body {
    background-color: #F3C98B;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    grid-gap: 30px;
    border-bottom: 2px solid #2e4756;
    font-family: "Play", sans-serif;
}

nav {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: right;
    text-decoration: none;
}

main {
    border: #172815;
    max-width: 1050px;
    text-align: left;
    margin: auto;
    color: black;
    padding: 20px;
    font-family: "Play", sans-serif;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 35px;
    margin: auto;
    color: #DFFDFF;
    height: 300px;
}

div .hero {
    position: relative;
}

.hero img {
    display: block;
    width: 300px;
    float: right;
    height: auto;
    right: 100px;
    margin-right: 150px;
    padding: 10px;
}

.hero h1 {
    font-size: 40px;
    text-decoration: underline;
    position: absolute;
    margin: auto;
}

.hero p {
    margin-top: 55px;
}

article {
    position: absolute;
}

h1, h2 {
    font-family: "Mogra", sans-serif;
}

h2 {
    color: #2e4756;
}

section {
    width: 100%;
    background-color: whitesmoke;
    text-align: justify;
    padding: 35px;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
}

.adventure {
    display: flexbox;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 35px;
}

.adventure img {
    display: inline-flexbox;
    size: 1fr 1fr 1fr 1fr 1fr;
    border: solid #172815;
}

.employees {
    display: flexbox;
    flex-direction: row;
    margin: auto;
}

table, td {
    border: 2px solid #172815;
}

thead {
    background-color: #DFFDFF;
}

tr {
    text-align: center;
}

iframe {
    float: right;
    margin-right: 400px;
}

form {
    display: grid;
    flex-direction: .5rem;
    margin: 0.5rem;
    padding: 15px;
}

button {
    background-color: #DFFDFF;
}

/* Trips page stylesheet */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    background-color: #F3C98B;
    
}

.card {
    background-color: #80eb74;
    width: 250px;
    height: 470px;
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
}

.card-image {
    background-color: black;
    height: 150px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
}

h2 {
    text-align: center;
}

.card .flower1 img {
    width: 100%;
}

.card .flower2 img {
    width: 100%;
}

div .card .flower3 {
    width: 100%;
}

.card:hover {
    background-color: #172815;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
}