@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

:root {
    --primary-color: #172815;
    --secondary-color: #DFFDFF;
    --accent1-color: #D5E1A3;
    --accent2-color: #E2F89C;

    --heading-font: 
}

body {
    background-color: aquamarine;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    grid-gap: 30px;
    border-bottom: 2px solid slateblue;
}

nav {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: right;
}

main div img {
    display: grid;
    grid-row: 50px;
    align-content: center;
}

main {
    border: #172815;
    max-width: 950px;
    text-align: left;
    margin: auto;
    color: black;
    padding: 20px;
}

.hero {
    display: block;
    background-color: #E2F89C;
    max-width: 950px;
}

.hero img {
    margin: auto;
    left: 50px;
    width: 350px;
    border: solid #172815;
    padding: 15px;
}

.hero p {
    color: black;
    text-align: center;
}

.hero h1, .adventure h2, h2 {
    font-family: "Mogra", sans-serif;
}

section {
    background-color: #D5E1A3;
    text-align: justify;
}

.adventure {
    margin: auto;
    padding: 15px;
}

.adventure img {
    display: inline-flexbox;
    size: 1fr 1fr 1fr 1fr 1fr;
    border: solid #172815;
}