@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
    --primary-color: #2e4756;
    --secondary-color: #34D1BF;
    --accent1-color: #B88C9E;
    --accent2-color: #F3C98B;

    --heading-font: ;
    --paragraph-font: "Verdana", sans-serif;

    --nav-background-color: ;
    --nav-link-color: magenta;
    --nav-hover-link-color: green;
    --nav-hover-background-color: green;
}

body {
    font-family: var(--"Verdana", sans-serif);
    max-width: 960px;
    padding: 20px;
    background-color: #F3C98B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mogra", cursive;
    color: var(#2e4756)
}

header {
    padding: 20px;
    background-color: var(#2e4756);
    font-family: "Play", sans-serif;
}

p {
    padding: 20px
}

nav {
    background-color: var(#B88C9E);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(magenta);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: magenta;
}

nav a:hover {
    color: var(steelblue);
}
