@import url("https://fonts.googleapis.com/css2?family=Mogra&display=swap");

:root {
    --primary-color: #172815;
    --secondary-color: #DFFDFF;
    --accent1-color: #D5E1A3;
    --accent2-color: #E2F89C;

    --heading-font: ;
    --paragraph-font: "Verdana", sans-serif;

    --nav-background-color: ;
    --nav-link-color: blue;
    --nav-hover-link-color: pink;
    --nav-hover-background-color: pink;
}

body {
    font-family: var(--"Verdana", sans-serif);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mogra", cursive;
    color: var(#172815)
}

header {
    padding: 20px;
    background-color: var(#172815);
}

p {
    padding: 20px
}

nav {
    background-color: var(#D5E1A3);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(blue);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: blue;
}

nav a:hover {
    color: var(pink);
    background-color: var(pink);
}
