@import url("https://coolors.co/3e5622-dffdff-172815-90a959-a7c957");

:root {
    --primary-color: #172815;
    --secondary-color: #DFFDFF;
    --accent1-color: #D5E1A3;
    --accent2-color: #E2F89C;

    --heading-font: 
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

p {
    padding: 20px
}

nav {
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--secondary-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    color: aliceblue;
    background-color: var(--secondary-color);
}
